// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.login-panel, .register-panel, .forgot-panel {
  top: 50%;
  transform: translate(0, 50%);
}


.bg-login-image {
  background: url('../images/login-banner.jpg');
  background-position: center;
  background-size: cover;
  .logo {
    width: 300px;
    height: 50px;
    top: 90%;
    transform: translate(10px, 90%);
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/logo2.png);
  }
}

.bg-register-image {
  background: url('../images/login-banner.jpg');
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url('../images/login-banner.jpg');
  background-position: center;
  background-size: cover;
}

form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 1rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 1rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}
